html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }

@font-face {
  font-family: TommySoft;
  src: url(tommysoft.otf);
}
  
#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  border-color: #415865;
  border-width: thick;
  border-style: solid;
  align-items: center;
  background-color: #1f1e33;
  /*background-image: url("./4212137.jpg");*/
  background-size: 100vw 50vw;
}

.joinOuterContainerImgur {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  border-color: #1BB76E;
  border-width: thick;
  border-style: solid;
  align-items: center;
  background-color: #1A1A1D;
  background-image: url("./imgur.jpg");
  background-size: 98vw;
}

.joinOuterContainerDex {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  border-color: #F5663E;
  border-width: thick;
  border-style: solid;
  align-items: center;
  background-color: #1A1A1D;
  /*background-image: url("./mangadex.jpg");
  background-size: 50vw;
  background-position: 0px -100px;*/
}

.joinInnerContainer {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #445865;
}

.innerBox{
  display: flex;
  flex-direction: row;
  min-width: fit-content;
  width: 85%;
  margin: auto;
}

.titleBox{
  width: 600px;
  margin-bottom: auto;
  height: 350px;
}

.landingImg{
  width: 700px;
  border-radius: 10px;
  margin-left: 100px;
}

.joinInnerContainerDex {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.joinInnerContainerImgur {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.joinInput {
  /*border-radius: 5px;
  padding: 15px 20px;
  width: 100%;
  margin-bottom: 200px;*/
  width: 700px;
  height: 20px;
  margin-bottom: 0px;
  margin-top: 3.5px;
  padding: 20px;
  border: none;
  outline: none;
  background-color: whitesmoke;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 5px rgba(0, 0, 0, 0.8);
  font-size: 18px;
  transition: 0.4s ease;
}

.heading {
  font-weight: lighter;
  color:	whitesmoke;
  font-size: 4.5em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 30px;
}

.headingImgur {
  color: #1BB76E;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid #1BB76E;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-weight: lighter;
}

.headingDex {
  color:#FE8D3D;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid #FE8D3D;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  font-weight: lighter;
}

.button {
  color: whitesmoke;
  background-color:	#A9A9A9;
  font-size:x-large;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  border-color:#cae3c6;
  width: 45%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:bold;
}

.button:hover{
  background-color:antiquewhite;
  color: #A9A9A9;
}

.mt-10{
  margin-top: -10px;
  background:#1BB76E;
  margin-bottom: 10px;
}

.mt-10:hover{
  background-color:antiquewhite;
  color: #A9A9A9;
}

.mt-20{
  background-color:#FE8D3D;
}

.mt-20:hover{
  background-color:antiquewhite;
  color: #A9A9A9;
}

.buttonImgur {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #1BB76E;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 150px;
  margin-top: 5px;
}

.buttonDex {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #F5663E;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 150px;
  margin-top: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinOuterContainer {
    height: 100vh;
  }

  .joinOuterContainerImgur {
    height: 100%;
    background-size: 300vw 200vw;
    background-position: -370px 150px;
  }

  .joinInnerContainer {
    width: 92%;
    height: 96%;
  }

  .innerBox{
    display: flex;
    flex-direction: column;
    width: 85%;
  }

  .heading{
    font-size: 3em;
    margin-top: -40px;
  }
  
  .titleBox{
    width: 200px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }

  .button{
    width: 200px;
  }
  
  .landingImg{
    width: 300px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
  }

  .joinInnerContainerDex {
    width: 90%;
  }

  .joinInnerContainerImgur {
    width: 90%;
  }

  .headingImgur {
    width: 90%;
  }
  
  .headingDex {
    width: 90%;
  }

  .joinInput{
    width: 90%;
  }
}


button:focus {
  outline: 0;
  color:#FE8D3D;
}